@using System.Data
@model TimezoneResponseModel


<h2>Hiển Thị Chi Tiết Múi Giờ @Model.Name  </h2>
<h3>Code: @Model.Code</h3>
<h3>Description: @Model.Description</h3>
<h3>Created On: @Model.CreatedOnDate</h3>
<h3>Modified On :@Model.LastModifiedOnDate</h3>
        
